body {
  text-align: center;
  background-color: #444;
  font-family: sans-serif;
}

#head {
  color: white;
  margin: 2em 0 2.5em;
}

#logo {
  max-height: 10em;
  border-radius:50%
}

#link-list {
  width: 90%;
  max-width: 40em;
  margin: auto;
}

.stash-url {
  border: 2px solid white;
  background-color: white;
  display: block;
  padding: 0 1em;
  margin: 1em 0;
}

a.stash-url {
  text-decoration: none;
  color: black;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

p {
  font-size: 1.5em;
  margin: 0.66em 0;
}

a.stash-url:hover {
  background-color: transparent;
  color: white;
  
}

#social-links {
  margin: 1.5em 0;
}

.social-icon {
  padding: 24px;
  font-size: 0px;
  margin: 0 4px;
  border: 2px solid white;
  border-radius:50%;
  background-image: url('https://links.qc-cds.org/social-icons-w.png');
  background-size: 500%;
  display: inline-block;
}

.social-icon.behance {}

.social-icon.email {
  background-position: 25% 0%;
}

.social-icon.instagram {
  background-position: 50% 0%;
}

.social-icon.linkedin {
  background-position: 75% 0%;
}

.social-icon.facebook {
  background-position: 100% 0%;
}

.social-icon.youtube {
  background-position: 0% 25%;
}

.social-icon.vimeo {
  background-position: 25% 25%;
}

.social-icon.twitter {
  background-position: 50% 25%;
}

.social-icon.wordpress {
  background-position: 75% 25%;
}

.social-icon.tumblr {
  background-position: 100% 25%;
}

.social-icon.website {
  background-position: 0% 50%;
}

@media (max-width: 550px) {
  #link-list, #head {
    font-size: 66%;
  }
}
